@model cmsbeta5.Models.Subject
@using cmsbeta5.Models
@{
    ViewBag.Title = "ClassMenu";
}


<head>
    <title>Home</title>






</head>
<body>

    <nav class="navbar navbar-default" style="background-color:#F9864D; color:white;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" style="background-color:#F9864D; color:white;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" style="background-color:#F9864D; color:white;">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="background-color:#F9864D; color:white;">Class Menu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                  
                    <li>@Html.ActionLink("Home", "Index", new { id = ViewBag.teacher }, new { @style = "color:white;" })</li>



                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            @ViewBag.teacher
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="\Main" style="background-color:#F9864D; color:white;">Logout</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="\Teacher\ChangePassword" style="background-color:#F9864D; color:white;">Change Password </a></li>

                        </ul>
                    </div>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @if(@ViewBag.markcheck!="a")
        { 
        <label>@ViewBag.status</label>
   
                }
                    else
                    {
@Html.ActionLink("Mark Activity", "markAnActivity", new { subjectName = ViewBag.className }, new { @style = "color:white;", @class="btn" })
    @Html.ActionLink("Final Marking", "final", new { className = ViewBag.className }, new { @style = "color:white;", @class = "btn" })
    <label>@ViewBag.status</label>
}
                    <br />
    <br />
    <table class="table table-bordered table-responsive" style="width:200px;margin-left:480px;color:green;">

        <tr>
            <th>
                List of All the Students In the Class
            </th>
            <th>
                Grades
            </th>
        </tr>

        @foreach (Grade s in ViewBag.list)
        {

            <tr>
                <td>
                    @s.studentId
                </td>
                @if(s.grade1=="F")
                { 
                <td style="color:red">
                    @s.grade1
                </td>
                }
                else
                {
                   <td >
                    @s.grade1
                </td> 
                }
            </tr>


        }
    </table>
</body>


